<html>
  <head>
    <title>Upload</title>
  </head>
  <body>
    <h1>Upload an operations file here</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="OK">
    </form>
  </body>
</html>
